@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  position: fixed;
  overflow: hidden;
  font-family: "Chakra Petch", sans-serif;
}

h1 {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}
